@import '../../../assets/styles/color-pallete.scss';
@import "../../../assets/styles/custom-fonts.scss";


.container.principal{
    background: url(../../../assets/images/background.svg);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.first-row{
    display: flex;
    width: 100%;
    height: 243px;
    padding: 0;
    margin: 0;
    background: url(../../../assets/images/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: center;
    position: relative;
    box-shadow: 4px 4px 12px 12px rgba(0, 0, 0, 0.15);
    z-index:6;
}

.fade-in img{
    width: auto;
    height: 100%;
    position: absolute;
}

.container.principal{
    max-width: 100% ;
    padding: 0;
}

.welcome{
    width: 40% !important;
    position: absolute;
    right: -5%;
    top: 2em;
    z-index: 99;
    filter: drop-shadow(2px 2px 12px rgba(0, 0, 0, 0.226));
}

.animate,.animate2
{
    animation-name: appears;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    opacity: 0;
  
    
}
.animate{
    animation-delay: 0s;
}
.animate2{
    animation-delay: 2.5s;
}



@keyframes appears{
   0%,33%{
      opacity: 0;
    }

    33%,66%{
      opacity: 1;
    }
    66%,100%{
        opacity: 0;
    }
  }

//Comienza el second row

.second-row
{
    margin-top: 100px;
    margin-bottom: 4em;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.second-row .col-4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: auto;
}
  .mycard{
      margin-right: 0;
      width: 80%;
      height: 450px;
      background-color: $custom-blue-glass;
      position: relative;
      border-radius: 0.5em;
      box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.527);
      transition: 0.5s ease-in-out;
      cursor: pointer;
  }

  .span-title{
      text-align: start;
      padding: 0.5em;
      background: $blue-gray-2;
      color: black;
      border-radius: 0.2em;
  }

  .mycard:hover{
      transform: scale(1.05);
      transform: rotate3d(15deg);
      background-color: #2d5b84;

      
  }

  .mycard:hover{
    box-shadow: 12px 12px 12px 2px #2d5b8465;

  }
  .mycard.second-card:hover{
    box-shadow: 2px 12px 12px 2px #2d5b8465;

  }
  .mycard.third-card:hover{
    box-shadow: -12px 12px 12px 2px #2d5b8465;

  }
  span{
      color: whitesmoke;
  }

  .mycard img{
      filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.411));
  }

  

  .first-card img
  {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: -30%;
  }

  .first-card span
  {
    text-align: start;
    padding: 1em;
    position: absolute;
    right: 0;
    width: 50%;
  }

  .second-card{
      overflow: hidden;
  }

  .second-card img
  {
    position: absolute;
    width: 100%;
    bottom: -100px;
    left: 0;

  }

  .second-card span
  {
    text-align: start;
    padding: 1em;
    position: absolute;
    right: 0;
    width: 100%;
  }

  .third-card img
  {
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: -30%;
  }

  .third-card span
  {
    text-align: end;
    padding: 1em;
    position: absolute;
    right: 0;
    width: 50%;
    left: 0;
  }


  .mycard svg{
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
  }

  .fade-in{
      display: flex;
      justify-content: center;
      width:auto;
  }


  .fade-in img {
    position:absolute;
    top:0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {
}
#f2 {
    -webkit-animation-delay: -4s;
}
#f3 {
    -webkit-animation-delay: -2s;
}

//Empieza third-row
  
.third-row{
    background-color:rgba(255, 255, 255, 0.377);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    width: 90%;
    height: 500px;
    margin-bottom: 4em;
    border-radius: 0.7em;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.third-row{
  opacity: 0;
}

.fade-in-row{
  opacity: 1;
}

.title-card{
    background-color: transparent;
    height: 35%;
}

.title-body{
    height: 65%;
}

.third-row .col-4{
    background-color:$green;
}


.title-card span{
    font-family: 'BebasNeue', sans-serif;
    font-size: 2em;
    width: 100%;
    height: 100%;
    white-space: pre-line;
    line-height: initial;
    background-color: $custom-blue;
}

.svg-up{
  transform: translateY(-150%);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 0.5em;
  animation: entranceUp 1s ease-in-out 6s 1 forwards;
}

.svg-down{
  transform: translateY(150%);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0.5em;
  animation: entranceDown 1s ease-in-out 6s 1 forwards;

}
.svg-up img
{
  width: 10%;
  
}
.svg-down img
{
  width: 10%;
  
}



@keyframes entranceUp
{
  from{ transform: translateY(-150%);}
  to{transform: translateY(0);}
}

@keyframes entranceDown
{
  from{ transform: translateY(150%);}
  to{transform: translateY(0);}
}


//Animaciiones logo


.float-image{
    width:80%;
    right: 15px;
    margin-top: -20px;
    z-index: 999;
}




@keyframes appears{
   0%,33%{
      opacity: 0;
    }

    33%,66%{
      opacity: 1;
    }
    66%,100%{
        opacity: 0;
    }
  }

  





@keyframes expand{
  0%,20%{
      transform: scale(1);
  }
  20%,40%{
      transform: scale(1.1);
  }
  40%,60%{
      transform: scale(0.9);
  }
  60%,80%{
        transform: scale(1.05);
  }
  80%,100%{
    transform: scale(1);

    
  }
}

@keyframes pointingRelative{
  0%,33%{
       transform: translateY(0px);;
   }
   33%,66%{
      transform: translateY(3px);;
      filter: saturate(3);;
   }
   66%,100%{
      transform: translateY(0px);;
  }
}

svg{
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}
.line1,.line2,.line3,.line4,.line5,.line6
{
  stroke-dashoffset:300;
  stroke-dasharray: 300;
  transition: 0.5s ease-in;
  transition-delay: 0s;
}



.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  }

.flex-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  }


  /* Animaciones del logo  */


svg{
  width: 100%;
}



.animate-conectors path
{
  transform-origin: center center;
  animation: dashOffset 6s ease-in-out 1.5s , showLogo 1.5s ease-in-out 6.5s;
  animation-fill-mode: forwards;
  
  stroke-dasharray: 852;
  stroke-dashoffset: -592;
  stroke-width: 1px;
  stroke: #35bfec;
  fill-opacity: 0;

}



.hls-3
{
  width: 0;
  animation: lineWidth 0.5s  ease-in-out 6.5s forwards; }

  

circle, ellipse{
  fill-opacity: 0;
  animation: showLogo 1.5s ease-in-out 7.5s forwards;
}

.click-motion{
  offset-path: path('M1503,514.1S1415.72,188,1255.53,210.62s-324.17,48.57-417.4-68.23-178.5-217.3-345-253.65') ;
  offset-rotate: 0deg;
 
  animation: move 6s infinite  ease-in-out 3.5s;
  
  width: 25%;
  height: 25%;
  background: cyan;
  transform: translate(-100px,-100px);
}


.text-logo{
  opacity: 0;
}


.text-logo{
  animation: showLogo2 4s ease-in-out forwards;
  animation-delay: 6.5s;
}

@keyframes blurring {
  0% {
   filter: blur(0);
  }
  100% {
   filter: blur(100px);
  }
}


@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes dashOffset
{
  from{
    stroke-dashoffset: -592;
  }

  to{stroke-dashoffset: 0;}
}

@keyframes dashOffset2
{
  from{
    stroke-dashoffset: 200;
  }

  to{stroke-dashoffset: 0;}
}

@keyframes showLogo{
 
  from{
    fill-opacity: 0;
  }

  to{fill-opacity: 1}
  

}

@keyframes showLogo2{
 
  from{
    opacity: 0;
  }

  to{opacity: 1}
  

}





@keyframes clipPath
{
  from{
    clip-path: circle(0%);
  }

  to{clip-path: circle(100%);}
}

.button-action:hover{
  transform: none;
}

.accept-button,.cancel-button,.reload-button{
  position: absolute;
  display: inline-block;
  background-color: transparent;
  outline: none;
  border: none;
  text-decoration: none;
}


.accept-button
{
  transform: translate(0px) scale(0);
  animation-name: showEntranceleft;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  transform: translate(-50px) scale(1);
  
}

.cancel-button{
  transform: translate(0px) scale(0);
  animation-name: showEntranceright;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  transform: translate(50px) scale(1);
  
}

.option-box{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}





@keyframes showEntranceleft
{
  from{
    transform: translate(0) scale(0); 
  }

  to{
    transform: translate(-50px) scale(1);
  }

}

@keyframes lineWidth
{
  from{
    width: 0; 
  }

  to{
    width: 5.1px;
  }

}

@keyframes showEntranceright
{
  from{
    transform: translate(0) scale(0); 
  }

  to{
    transform: translate(50px) scale(1);
  }

}

@keyframes scaleReload{
  from{
    transform: scale(0); 
  }

  to{
    transform: scale(1);
  }
}

@keyframes pointIt{
  0%,20%{
    transform: scale(1)
  }
  20%,40%{
    transform: scale(0.6)
  }
  40%,60%{
    transform: scale(1)
  }
  60%,80%{
    transform: scale(0.9)
  }
  80%,100%{
    transform: scale(1)
  }
}

  