<app-mainmenu></app-mainmenu>

<div class="container principal" style="margin-top: 142px;">
  <div class="row first-row">
    <div class="fade-in">
      <img id="f1" src="../../../assets/images/background1-first-image.png" alt="">
    <img id="f2" src="../../../assets/images/background1-second-image.png" alt="">
    <img id="f3" src="../../../assets/images/background1-third-image.png" alt="">
    </div>
  
    <img class="welcome" src="../../../assets/images/welcome.svg" alt="">
    
  </div>

  <div class="second-row">
    <div class="col-4">
      <div class="mycard first-card" >
        
        <span> <p class="span-title">Interfaz de padres:</p> Interfaz pensada para el control de las notas, ausencias y boletines de sus hijos durante todo el ciclo escolar</span>
        <img src="../../../assets/images/background1-second-image.png" alt="">
      </div>
    </div>
    <div class="col-4">
      
      <div class="mycard second-card">
        <span> <p class="span-title">Interfaz de Profesores</p>Las vistas del profesor estan pensadas para la administracion de las clases y control de las tareas asignadas </span>
        <img src="../../../assets/images/background1-first-image.png" alt="">


      </div>
    </div>
    <div class="col-4">
      <div class="mycard third-card">
        <span> <p class="span-title">Interfaz de Alumnos</p>Las vistas del profesor estan pensadas para la administracion de las clases y control de las tareas asignadas </span>
        <img src="../../../assets/images/background1-third-image.png" alt="">

      </div>
    </div>
  </div>

  <div class="row third-row" #card1>
    <div class="col-4">
      <div class="row title-card" style="display:flex; text-align: center;justify-content: center;">

        <span style="padding:2em;">Interfaces amigables</span>
      </div>
    </div>
    <div class="col-8" >

    </div>
  </div>
</div>